[Unit]
Description=Davis Instruments Weather station server

[Service]
Type=simple
WorkingDirectory=/home/wx/src/gocode/src/davis-station
ExecStart=/home/wx/src/gocode/src/davis-station/davis-station -device /dev/ttyUSB0 -database /var/lib/davis-station/weather.db
User=wx
Group=wx

[Install]
WantedBy=multi-user.target
