{{/* ANSI color codes */}}

{{/* Screen */}}
{{ define "cursorhome" }}[;H{{ end }}
{{ define "clear" }}[2J{{ template "cursorhome" }}{{ end }}

{{ define "reset" }}[0m{{ end }}

{{/* Styling */}}
{{ define "bold" }}[1m{{ end }}
{{ define "italics" }}[3m{{ end }}
{{ define "underline" }}[4m{{ end }}
{{ define "strike" }}[9m{{ end }}

{{ define "bold_off" }}[22m{{ end }}
{{ define "italics_off" }}[23m{{ end }}
{{ define "underline_off" }}[24m{{ end }}
{{ define "strike_off" }}[27m{{ end }}

{{/* Foreground colors */}}
{{ define "black" }}[30m{{ end }}
{{ define "red" }}[31m{{ end }}
{{ define "green" }}[32m{{ end }}
{{ define "yellow" }}[33m{{ end }}
{{ define "blue" }}[34m{{ end }}
{{ define "magenta" }}[35m{{ end }}
{{ define "cyan" }}[36m{{ end }}
{{ define "white" }}[37m{{ end }}
{{ define "default" }}[39m{{ end }}
