{{ define "archive" -}}
{{ if . -}}
Trend (5 minute interval):

Timestamp   Bar(in) Tem(F) Hum(%) Rn(in) Wind/Gus(mph)  Sol(wm²) UV(i)
----------- ------- ------ ------ ------ -------------- -------- -----
  {{- range . }}
{{ .Timestamp | archiveTime -}}
{{- printf " %-7.3f" .Bar }}
{{- printf " %-6.2f" .OutTemp }}
{{- printf " %-6d" .OutHumidity }}
{{- printf " %-6.2f" .RainAccum }}
{{- printf " %-3s at %-7s" (.WindDirPrevail | degToDir) (printf "%d/%d" .WindSpeedAvg .WindSpeedHi) }}
{{- printf " %-8d" .SolarRad }}
{{- printf " %-5.1f" .UVIndexAvg }}
  {{- end }}
----------- ------- ------ ------ ------ -------------- -------- -----
{{ else -}}
No trend data available.
{{ end -}}
{{ end }}
