{{ define "health" -}}
Battery:

       Console: {{ .Bat.ConsoleVoltage }}V
{{ if not .Bat.TransLow }}  Transmitters: {{ template "green" }}OK{{ template "default" }}
{{ else }}  Transmitters: {{ template "red" -}}
    {{ range $index, $trans := .Bat.TransLow -}}
{{ if $index }}, {{ end }}{{ template "red"}}{{ $trans }}-LOW{{ template "default" -}}
    {{ end }}
{{ end -}}
{{ end }}
