{{ define "help" }}
Command	                Argument(s)     Description
----------------------- --------------- -----------------------------------
ARCHIVE, TREND          [h=2]           Show last h hours of observations
                                        at 5 minute intervals
COND, LOOP                              Show detailed latest observation
                                        information
DATE, TIME                              Show current date and time
HELP                                    Show this help information
LOGOFF, LOGOUT, QUIT                    Gracefully close the connection
UNAME                                   Show server information
UPTIME                                  Show server uptime
VER, VERS                               Show server version
WATCH                   <cond|loop|     Watch continuously
                         debug>
WHOAMI                                  Show client source IP address and
                                        port
{{ end }}
