{{ define "help" -}}
Command	                Argument(s)     Description
----------------------- --------------- ------------------------------------
archive, trend          [h=2]           Show last h hours of observations
                                        at 5 minute intervals
cond, loop                              Show latest conditions in detail
date, time                              Show current date and time
health                                  Show station health
?, help                                 Show this help information
lamps                   <off|on>        Set the console lamps state
logoff, logout, quit                    Gracefully close the connection
uname                                   Show server information
up, uptime                              Show server uptime
ver, vers                               Show server version
watch cond, loop                        Continuously watch latest conditions
watch log               <debug|trace>   Watch debug or trace logs
whoami, who am i                        Show client source IP address and
                                        port
{{ end }}
