Command	                Argument(s)     Description
----------------------- --------------- -----------------------------------
ARCHIVES, TREND         [h=2]           Show last h hours of observations
                                        at 5 minute intervals
COND, LOOP                              Show detailed latest observation
                                        information
DATE, TIME                              Show current date and time
DEBUG                                   Watch debug log messages
HELP                                    Show this help information
LOGOFF, LOGOUT, QUIT                    Gracefully close the connection
UNAME                                   Show server information
UPTIME                                  Show server uptime
VER, VERS                               Show server version
WHOAMI                                  Show client source IP address and
                                        port
