{{/* Template for displaying loop packets */}}

{{ define "loop" }}
{{ template "clear" -}}
Weather conditions on {{ printf "%-43s Seq: %8d" (.Update.Timestamp | longTime) .Update.Seq }}
                      Sunrise at {{ .Loop.Sunrise | sunTime }}, sunset at {{ .Loop.Sunset | sunTime }}

   Forecast: {{ .Loop.Forecast }}

{{ with .Loop -}}
{{ printf "  Barometer: %-6.3fin %s" .Bar.Station .Bar.Trend }}

{{ printf "Temperature: %-6.2f°F  " .OutTemp }}
{{- printf "   Humidity: %-3d%%    " .OutHumidity }}
{{- printf "  Dew Point: %-6.2f°F  " .DewPoint }}
{{ printf " Heat Index: %-6.2f°F  " .HeatIndex }}
{{ printf " Wind Chill: %-6.2f°F  " .WindChill }}

{{ printf "  Solar Rad: %-4dwm/2  " .SolarRad }}
{{- printf "   UV Index: %-3.1f    " .UVIndex }}
{{- printf "    ET Today: %-3.1f   "  .ET.Today }}

{{ printf " Rain Today: %-4.2fin  " .Rain.Accum.Today }}
{{- printf "         Rate: %-4.2fin/h" .Rain.Rate }}

{{ printf "       Wind: %-3d° %-3s at %-3dmph" .Wind.Cur.Dir (.Wind.Cur.Dir | degToDir) .Wind.Cur.Speed }}
{{ printf "    Gusting: %-3d° %-3s at %-3.0fmph" .Wind.Gust.Last10MinDir (.Wind.Gust.Last10MinDir | degToDir) .Wind.Gust.Last10MinSpeed }}
{{ end -}}
{{ end }}
