{{define "uname"}}
     {{template "yellow"}}\   /{{template "default"}}
      {{template "yellow"}}.-.{{template "default"}}      {{.Banner}}
   {{template "yellow"}}- (   ) -{{template "default"}}   {{.LocalAddr}}
      {{template "yellow"}}`-'{{template "default"}}
     {{template "yellow"}}/   \{{template "default"}}
{{end}}
