Source: davis-station
Section: science
Priority: extra
Maintainer: Eric Barkie <2314646-ebarkie@users.noreply.gitlab.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               git,
               golang-any (>= 2:1.11~) | golang-go (>= 2:1.11~)
Standards-Version: 4.0.0
Homepage: https://gitlab.com/ebarkie/davis-station
XS-Go-Import-Path: gitlab.com/ebarkie/davis-station

Package: davis-station
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         adduser
Description: Davis Instruments weather station
 A Modern Personal Weather Station written in Go.
