[Unit]
Description=Davis Instruments weather station

[Service]
Type=simple
User=wx
Group=wx
EnvironmentFile=-/etc/default/davis-station
ExecStart=/usr/bin/davis-station -addr $ADDR -db $DB -dev $DEV -res /usr/share/davis-station $EXTRA_OPTS

[Install]
WantedBy=multi-user.target
